Node-Red_rcvr.json
[{"id":"77807c0f.2291f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e34357ae.f85d18","type":"serial in","z":"77807c0f.2291f4","name":"Serial","serial":"4511e6be.4d9118","x":100,"y":100,"wires":[["743c3ecb.dfdb9","c7292d47.a69f08"]]},{"id":"c7292d47.a69f08","type":"debug","z":"77807c0f.2291f4","name":"First","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":120,"wires":[]},{"id":"743c3ecb.dfdb9","type":"json","z":"77807c0f.2291f4","name":"","property":"payload","action":"obj","pretty":false,"x":320,"y":140,"wires":[["a77d0059.e42f38","1a8266e3.b35ef9","da0ac176.39daf","509a6487.bcb1fc"]]},{"id":"f89e068e.9e3d1","type":"rpi-gpio out","z":"77807c0f.2291f4","name":"","pin":"40","set":false,"level":"1","freq":"","out":"out","x":540,"y":300,"wires":[]},{"id":"a77d0059.e42f38","type":"function","z":"77807c0f.2291f4","name":"","func":"led4=1;\nif (msg.payload.batV>3100){\nmsg.payload=1\n}\nelse{\nmsg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["f89e068e.9e3d1"]]},{"id":"1a8266e3.b35ef9","type":"function","z":"77807c0f.2291f4","name":"","func":"var led6=context.get('led6') || 0;\nled6=1-led6;\nmsg.payload=led6\ncontext.set('led6',led6);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["96eb68e2.ea854"]]},{"id":"c782b221.845648","type":"rpi-gpio out","z":"77807c0f.2291f4","name":"","pin":"38","set":false,"level":"1","freq":"","out":"out","x":540,"y":360,"wires":[]},{"id":"96eb68e2.ea854","type":"rpi-gpio out","z":"77807c0f.2291f4","name":"","pin":"36","set":false,"level":"1","freq":"","out":"out","x":540,"y":420,"wires":[]},{"id":"da0ac176.39daf","type":"function","z":"77807c0f.2291f4","name":"","func":"led4=1;\nif (msg.payload.temp<22.00){\nmsg.payload=1\n}\nelse{\nmsg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":360,"wires":[["c782b221.845648"]]},{"id":"d23e5f88.5f69d8","type":"debug","z":"77807c0f.2291f4","name":"Second","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":260,"wires":[]},{"id":"47f4d973.d767e8","type":"influxdb out","z":"77807c0f.2291f4","influxdb":"8e307d9b.e1fb3","name":"RFM95_AMS","measurement":"msg.payload","precision":"s","retentionPolicy":"","x":710,"y":200,"wires":[]},{"id":"509a6487.bcb1fc","type":"change","z":"77807c0f.2291f4","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"payload.t","tot":"msg"},{"t":"delete","p":"payload.t","pt":"msg"},{"t":"set","p":"payload.Power","pt":"msg","to":"payload.P","tot":"msg"},{"t":"delete","p":"payload.P","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["47f4d973.d767e8","d23e5f88.5f69d8"]]},{"id":"4511e6be.4d9118","type":"serial-port","z":"","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"}","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8e307d9b.e1fb3","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"RFM95_AMS","name":"RFM95_AMS","usetls":false,"tls":""}]